* {
    font-family: 'Courier New', sans-serif;
}
.header {
    text-align: center;
    font-size: 64px;
    margin-bottom: 0px;
}

.sub {
    font-size: 32px;
}

.food-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
}

